POSTGRES_USER=itcube
POSTGRES_PASSWORD=replace-with-strong-password
POSTGRES_DB=itcube

RUN_SEED=false
RUN_RELOAD=false

VITE_HACKATHON_CHAT_URL=https://t.me/+ygXd8LlJoiVjMzAy
VITE_MENTORS_CHAT_URL=https://t.me/+UJqAJOUHwG5jZDhi
